{% extends 'base.html.twig' %}
{% block title %}Hello RegistrationController!{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <center>Rejestracja udana!<br>
            Odwiedź swoją skrzynkę pocztową w celu potwierdzenia konta.
        </center>
    </div>
{% endblock %}
