{% extends 'base.html.twig' %}
{% block title %}Hello MainController!{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{{ path('app_product_list') }}">
                <button class="btn btn-primary" type="button">Przejdź do sklepu</button>
            </a>
        </div>
    </div>
{% endblock %}
