{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}

{% block body %}
    <div class="example-wrapper" style="max-width:1200px">
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item disabled">Zamówienia</li>
                    <a href="{{ path('app_order_history') }}"><li class="list-group-item">Historia zamówień</li></a>
                    <li class="list-group-item">Adresy zamówień</li>
                    <li class="list-group-item disabled">Ustawienia</li>
                    <a href="{{ path('app_change_password') }}"><li class="list-group-item">Zmiana hasła</li></a>
                </ul>
            </div>
            <div class="col-9"></div>
        </div>
    </div>
{% endblock %}
